/redis-starter/out
/rest-starter/out
/tencent-starter/out
out
/.gradle
/tencent-starter/build
/rest-starter/build
/redis-starter/build
/oauth-starter/build
/oauth-starter/out
/mybatis-starter/build
/mybatis-starter/out
/mvc-starter/build
/mvc-starter/out
/jg-starter/out
/jg-starter/.gradle
/jg-starter/build
/easemob-starter/build
/easemob-starter/out
/bean-support/out
/bean-support/build
/amqp-starter/build
/amqp-starter/out
